@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Prata&display=swap');

:root{
    /* light dark mode */
    color-scheme: dark;
    --primary-bg: light-dark(#FFFFF0, #1B1B1B);
    --primary-contrast: light-dark(#1B1B1B, #FFFFF0);
}

body {
    /* position */
    margin: 0;

    /* inner */
    overflow: hidden;
    background-color: var(--primary-bg);

    /* font */
    color: var(--primary-contrast);
    font-family: 'Prata', serif;

    /* animation */
    transition: background-color 0.5s, color 0.5s;
}

button{
    all: unset;
}